* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content sidebar"
    "nav footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px 1fr 80px;
}

header,
footer,
nav,
aside,
main {
  background-color: rosybrown;
  color: #fff;
  padding: 1.5rem;
  border: lightblue 1px solid;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}
