* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
  background-color: #333;
}
.container {
  max-width: 600px;
  margin: 6.25rem auto;
  padding: 0.625rem;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;

  /* grid-auto-rows: minmax(200px, auto); */
  /* grid-template-rows: repeat(3, 1fr); */
}

.item {
  background-color: rosybrown;
  font-size: 20px;
  padding: 20px;
  border: bisque 1px solid;
}

/* .item:nth-of-type(1) {
  background-color: black;
  grid-column: 1 / 3;
}
.item:nth-of-type(3) {
  background-color: lightblue;
  grid-row: 2 / 4;
}
.item:nth-of-type(4) {
  background-color: lightblue;
  grid-row: 2 / 4;
} */

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}
