* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf2f8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.7;
  font-size: 0.9rem;
}

.testimonials {
  min-width: 600px;
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);
  margin-bottom: 10px;
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__header h3 {
  font-size: 15px;
}
.card__header p {
  opacity: 50%;
}
.card__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #996ed9;
  margin-right: 10px;
}
.card__lead {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}
.card__quote {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  opacity: 70%;
}

.card--bg-purple {
  background-color: hsl(263, 55%, 52%);
  color: white;
}

.card:nth-of-type(1) {
  grid-column: 1 / 3;
}

.card:nth-of-type(4) {
  grid-column: 2/4;
  grid-row: 2;
}

.card:nth-of-type(5) {
  grid-column: 4;
  grid-row: 1/3;
}

footer {
  text-align: center;
}

@media (max-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .card:nth-of-type(1) {
    grid-column: 1;
  }

  .card:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .card:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
  }
}
